.form-login {
  width: 26rem !important;
}

.menu {
  background: #791021;
  width: 380px;
  height: 100%;
}

.logo {
  width: 40%;
}

.button-submit {
  background-color: #791021;
  transition: all 0.5s;
}

.shadow-box {
  box-shadow: -5px -5px 15px #791021, 5px 5px 15px #F4D010;
}

.button-submit:hover {
 background-color: #F4D010;
}

.no-underline {
  text-decoration: none !important;
}

.card-scale {
  transition: all 0.5s;
  &:hover {
    transform: scale(1.03);
  }
}