.reports-card {
  transition: all 0.3s;
}

.reports-card:hover {
  filter: brightness(120%);
  scale: 1.02
}



.form-login {
  width: 26rem !important;
}

.menu {
  background: #791021;
  width: 380px;
}

.logo {
  width: 100%;
}

.button-submit {
  background-color: #791021;
  transition: all 0.5s;
}

::-webkit-scrollbar {
  /* eliminia toda la barra de scroll */
  display: none;
}

.shadow-box {
  box-shadow: -5px -5px 15px #791021, 5px 5px 15px #DAA520;
}

.button-submit:hover {
  background-color: #DAA520;
}

.no-underline {
  text-decoration: none !important;
}

.card-scale {
  transition: all 0.5s;
  &:hover {
    transform: scale(1.03);
  }
}

.input-login::placeholder {
  color: #fff;
}

.alert-animation {
  animation: fade-in-out 3s ease-in-out;
}

.no-select { 
  user-select: none;
}

.background-fallback {
  background: url('../assets/Leathers.jpg') no-repeat center center fixed;
  background-size: cover;
  filter: brightness(50%);
}

@keyframes fade-in-out {
  /* El alert empieza con opacidad 0 (invisible) */
  0% {
    opacity: 0;
  }
  /* El alert llega a opacidad 1 (visible) al 25% de la animación */
  25% {
    opacity: 1;
  }
  /* El alert mantiene la opacidad 1 hasta el 75% de la animación */
  75% {
    opacity: 1;
  }
  /* El alert vuelve a opacidad 0 (invisible) al final de la animación */
  100% {
    opacity: 0;
  }
}
