.form-login {
  width: 26rem !important;
}

.logo {
  width: 40%;
}

.button-submit {
  background-color: #791021;
  transition: all 0.5s;
}

.shadow-box {
  box-shadow: -5px -5px 15px #791021, 5px 5px 15px #F4D010;
}

.button-submit:hover {
 background-color: #F4D010;
}

.no-underline {
  text-decoration: none !important;
}